@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
/* linear-gradient(to bottom right, #f3f9a6 0%, #cbc634 100%)

linear-gradient(to bottom right, #ff616d 0%, #ffc171 100%

linear-gradient(to bottom right, #58ac30 0%, #a7df62 100%);
*/
* {
  font-family: "Poppins", sans-serif;
}

html {
  background-color: hsl(0deg, 0%, 26%);
}
html ::-webkit-scrollbar {
  width: 10px;
}
html ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
html ::-webkit-scrollbar-thumb {
  background-color: hsl(350deg, 69%, 46%);
  border-radius: 10px;
}
html ::-webkit-scrollbar-thumb:hover {
  background: hsl(350deg, 69%, 46%);
}

/* hero section */
.hero {
  height: 50vh;
  background: url(./img/pexels-pedro-figueras-681467.jpg);
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: right;
}
.hero .hero_text {
  color: #f1f5f6;
  margin-right: 3%;
}

.logo {
  max-width: 100px;
}

/* nav bar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4em;
  padding-left: 5%;
  padding-right: 5%;
  background-color: hsl(350deg, 69%, 46%);
  position: -webkit-sticky;
  position: sticky;
}
nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 15px;
}
nav ul li a {
  color: #f1f5f6;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
nav ul li a:hover {
  color: hsl(0deg, 0%, 26%);
  transition: 0.5s;
}

/* media querry for the span text */
@media only screen and (max-width: 320px) {
  .surname {
    color: hsl(270deg, 6%, 75%);
  }
  .name {
    color: hsl(350deg, 69%, 46%);
  }
}
@media only screen and (min-width: 321px) {
  .name {
    color: hsl(270deg, 6%, 75%);
  }
  .surname {
    color: hsl(350deg, 69%, 46%);
  }
}
/* about me section */
.about {
  width: 100%;
  padding: 100px 0px;
  background-color: hsl(0deg, 0%, 26%);
  text-align: left;
  display: flex;
  flex-direction: column;
}
.about img {
  width: 25vw;
  height: auto;
  border-radius: 25px;
  margin-left: 5%;
  margin-right: 2%;
}
.about .about_text h2 {
  font-size: 1.8em;
}
.about .about_text h5 {
  font-size: 2em;
}
.about .about_text p {
  font-size: 1em;
}
.about .main {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about button {
  background-color: hsl(350deg, 69%, 46%);
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 25px;
  transition: 0.5s;
}
.about button:hover {
  background-color: transparent;
  border: 2px solid hsl(350deg, 69%, 46%);
  cursor: pointer;
  color: hsl(350deg, 69%, 46%);
}

iframe {
  width: 50%;
  height: auto;
  max-width: 100%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
}

table {
  border: 1px solid hsl(350deg, 69%, 46%);
  border-collapse: collapse;
  margin: 0;
  margin-left: 5%;
  margin-bottom: 5%;
  padding: 0;
  width: 90%;
  table-layout: fixed;
}
table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
  background: linear-gradient(to right, hsl(0deg, 0%, 26%), #f1f5f6);
}
table tr {
  background-color: hsl(0deg, 0%, 26%);
  border: 1px solid hsl(0deg, 0%, 26%);
  padding: 0.35em;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
table tr:hover {
  background-color: hsl(350deg, 69%, 46%);
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
  color: hsl(0deg, 0%, 26%);
}
table th, table td {
  padding: 0.625em;
  text-align: center;
}
table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid hsl(0deg, 0%, 26%);
    display: block;
    margin-bottom: 0.625em;
  }
  table td {
    border-bottom: 1px solid hsl(350deg, 69%, 46%);
    font-size: 0.8em;
    text-align: right;
  }
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}
footer {
  position: relative;
  width: 100%;
  height: 400px;
  background: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f1f5f6;
}
footer p:nth-child(1) {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}
footer p:nth-child(1):nth-child(2) {
  color: #f1f5f6;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}
footer .social {
  display: flex;
}
footer .social a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(350deg, 69%, 46%);
  border-radius: 50%;
  margin: 22px 10px;
  color: hsl(260deg, 7%, 18%);
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
}
footer .social a:hover {
  transform: scale(1.3);
  transition: 0.5s;
}/*# sourceMappingURL=style.css.map */